$basic-black: #000000;
$basic-white: #FFFFFF;
$primary-white: #F5EACC;
$bold-pink: #FF4D80;
$bold-purple: #5E2BFF;
$bold-green: #C0F500;
$bold-yellow: #FFBD00;
$background-external: #d297d7;
$background-internal: #fef5ac;
