@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;

@mixin background-pattern {
    background-color: $basic-black;
    background-image:  repeating-linear-gradient(45deg, $bold-purple 25%, transparent 25%, transparent 75%, $bold-purple 75%, $bold-purple), repeating-linear-gradient(45deg, $bold-purple 25%, $basic-black 25%, $basic-black 75%, $bold-purple 75%, $bold-purple);
    background-position: 0 0, 40px 40px;
    background-size: 80px 80px;
    @content;
}

@mixin button-styling {
    padding: 0.5rem 1rem;
    border: 2px solid $bold-purple;
    border-top-width: 10px;
    width: fit-content;
    background-color: $primary-white;
    color: $basic-black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-style: italic;
    cursor: pointer;
    &:hover {
        box-shadow: 0px 0px 10px 7px rgba(94,43,255,0.5);
        color: $bold-pink;
        font-style: normal;
    }
    &:active {
        transform: translateY(2px);
    }

    @include tablet {
        padding: 1rem 1.5rem;
    }

    @content;
}