@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.about {
    &__content {
        width: 100%;
        background-color: $basic-black;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

    @include tablet {
        &__content {
            margin: 0 auto;
            width: 90%;
        }
    }

    @include desktop {
        &__content {
            max-width: 80rem;
        }
    }
}