@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.nav {
    border-bottom: 1px solid $basic-black;
    background-color: $background-external;
    &__container {
        margin: 0 auto;
        padding: 1rem;
        max-width: 31.25rem;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        
    }
    &__button {
        outline: none;
        border: none;
        background: transparent;
        text-align: center;
        text-decoration: none;
        &:hover {
            cursor: pointer;
        }
        &:active {
            transform: translateY(2px);
        }
    }
    &__image {
        width: 3rem;

    }
    &__label {
        color: $bold-purple;
        &:hover {
            background-color: $bold-purple;
            color: $basic-white;
            font-style: italic;
        }
    }

    @include tablet {
        &__icon {

        }
        &__button {
        }
        &__image {
            // width: 5rem;
        }
        &__label {
        
        }
    }

    @include desktop {
        padding-top: 6.5rem;
        border-bottom: none;
        background-color: transparent;
        &__container {
            display: block;
        }
        &__icon {

        }
        &__button {
            padding-bottom: 3rem;
        }
        &__image {
            width: 5rem;
        }
        &__label {
            // padding-top: 0.25rem;
            font-size: 1.1rem;
        }
    }
}
