@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.footer {
    &__bar {
        padding: 0.5rem 2rem 0.5rem 0;
        border-top: 1px solid $basic-black;
        border-bottom: 1px solid $basic-black;
        width: 100%;
        display: flex;
        background-color: $background-external;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: $basic-black;
    }
    &__logo {

    }

    @include tablet {
        &__bar {
            // margin: 0 auto;
            // width: 90%;
            justify-content: flex-end;
        }
        &__logo {
            // margin-right: 2rem;
            width: 10rem;
        }
    }

    @include desktop {
        &__bar {
            // max-width: 80rem;
        }
        &__logo {
            // width: 2rem;
            
        }
    }
}