@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.footer {
    &__bar {
        padding: 0.5rem 0;
        width: 100%;
        display: flex;
        background-color: $background-external;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: $basic-black;
    }
    &__logo {
        margin: 0 auto;
        width: 80%;
        max-width: 15rem;
    }

    @include tablet {
        &__bar {
            // margin: 0 auto;
            // width: 90%;
            justify-content: flex-end;
        }
        &__logo {
            // margin-right: 2rem;
            width: 15rem;
        }
    }

    @include desktop {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        &__bar {
            // max-width: 80rem;
            padding: 0.25rem 2rem 0.25rem 0;
            border-top: 1px solid $basic-black;
            border-bottom: 1px solid $basic-black;
        }
        &__logo {
            // width: 2rem;
            width: 10rem;
            margin: 0;
        }
    }
}