@use "./styles/partials/breakpoints" as *;
@use "./styles/partials/colors" as *;
@use "./styles/partials/mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $basic-white;
  
}

html, body {
  // @include background-pattern;

  // background: radial-gradient(circle, #e66465, #9198e5);
  background: radial-gradient(circle, #fef5ac, #d297d7);
  background-repeat: no-repeat;

  cursor: url("../public/cursors/1.svg"), auto; // NOT WORKING

  @include tablet {
    height: 100%;
  }
}

.app-container {
  min-height: 100%;
}