@use "./styles/partials/colors" as *;
@use "./styles/partials/mixins" as *;

* {
  margin: 0;
  box-sizing: border-box;
  
  color: $basic-white;
}

body {
  @include background-pattern;
}

.main {
  // background-color: black;
  
  
  // any universal background design should go here
}
