@use "./styles/partials/colors" as *;
@use "./styles/partials/mixins" as *;

* {
  margin: 0;
  box-sizing: border-box;
  
  color: $basic-white;
}

body {
  background-color: black;
  // @include background-pattern;
  
  // any universal background design should go here
}
