@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.home {
    display: flex;
    flex-direction: column-reverse;
    &__content {
        width: 100%;
        // background-color: black;
        color: white;
    }

    @include tablet {
        &__content {
            margin: 0 auto;
            // width: 90%;
            // display: flex;
        }
    }

    @include desktop {
        display: block;
        &__content {
            padding-top: 1.5rem;
            max-width: 90rem;
            display: flex;
        }
    }
}