@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.home {
    // cursor: url("../../assets/cursors/64.svg");
    &__content {
        width: 100%;
        // background-color: black;
        color: white;
    }

    @include tablet {
        &__content {
            margin: 0 auto;
            // width: 90%;
        }
    }

    @include desktop {
        &__content {
            padding-top: 7.5rem;
            max-width: 90rem;
        }
    }
}